/**********
Debug
**********/
$debugColor: #ff1493;

/**********
Mediaquery Breakpoint
**********/
$mediaXL: 1200px;
$mediaL: 992px;
$mediaM: 768px;

/**********
Layout Base
**********/
$bodyColor: lightgrey;
$containerColor: white;
$mainColor: lightgrey;
$headerColor: black;
$footerColor: black;
$paddingMacroXs: 20px;

/**********
Form
**********/
$inputBg: white;
$inputBgFocus: transparentize(#ff6200, 0.5);
$inputBorderColor: lightgrey;
$inputBgSize: 1px;
$inputColorLabel: grey;
$inputColorInput: black;
$inputFontSize: 1em;
$inputLH: 2em;
$btnBorderRadius: 5px;

/**********
Palettes
**********/
$paletteFontSize: 1em;
$paletteFontColor: black;
$palettePadding: 14;
$palettePaddingM: $palettePadding*2; //px
$palettePaddingL: $palettePadding*2; //px
$palettePaddingXL: $palettePadding*4; //px
$paletteFontWeight: bold;
$colorWidth: 15px;
$colorHeight: $colorWidth;

/**********
Animation
**********/
$animationDelayBase: 0.7;


/**********
Links
**********/
$colorLinkHover: white;

/**********
Fonts
**********/
$baseFont: 16px;
$baseLineHeight: $baseFont * 1.5;
$textShadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
$textShadowHover: 1px 1px 1px rgba(0, 0, 0, 0.5);


/**********
Colors
**********/
$grey: grey;
$lightGrey: lighten($grey, 100);
